<% project = data.projects[index] %>
<% content_for :title, "#{project.name} - Sergio Agosti" %>

<%= partial "layouts/header", :locals => { :title => project.name } %>

<main role="main" class="page__body">

    <div class="page__content page__content--row page__content--wide">

        <div class="page__content--column page__content--column--main">
            <%= partial "content/projects/#{project.slug}/main" %>
        </div>
        
        <div class="page__content--column page__content--column--aside">
            <%= partial "content/projects/#{project.slug}/aside" %>
        </div>
    
    </div>
    
<% if project.images %>
    <div class="gallery">
    
        <div class="page__content page__content--wider">
            <ul class="gallery__list bleed">
                <li>
                    <figure>
                        <figcaption class="gallery__caption"><p>small screen</p></figcaption>
                        <p><a href="#gallery__image--small" name="gallery__image--small" class="gallery__image gallery__image--small"><%= image_tag "projects/#{project.slug}/#{project.images.small.src}", :alt => project.images.small.alt %></a></p>
                    </figure>
                </li>
                <li>
                    <figure>
                        <figcaption class="gallery__caption"><p>large screen</p></figcaption>
                        <p><a href="#gallery__image--large" name="gallery__image--large" class="gallery__image gallery__image--large"><%= image_tag "projects/#{project.slug}/#{project.images.large.src}", :alt => project.images.large.alt %></a></p>
                    </figure>
                </li>
                <li>
                    <figure>
                        <figcaption class="gallery__caption"><p>extra-large screen</p></figcaption>
                        <p><a href="#gallery__image--extra" name="gallery__image--extra" class="gallery__image gallery__image--extra"><%= image_tag "projects/#{project.slug}/#{project.images.extra.src}", :alt => project.images.extra.alt %></a></p>
                    </figure>
                </li>
            </ul>
        </div>
        
    </div>
<% end %>
    
<% if index + 1 < data.projects.length %>
    <p class="page__content page__content--wide">Next project (<%= index + 2 %> of <%= data.projects.length %>): <%= link_to data.projects[index + 1].name, "/projects/#{data.projects[index + 1].slug}.html" %></p>
<% end %>

</main>

<%= partial "layouts/footer",
    :locals => {
        :navigation => { :active => '/projects.html' },
        :breadcrumb => [
            { :text => "About", :path => '/index.html' },
            { :text => "Projects", :path => '/projects.html' },
            { :text => project.name }
        ]
    }
%>